doctype
html(ng-app="reddit-steam-tools")
  head
    meta(charset='utf-8')
    title Reddit Steam Tools
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="style/style.css")
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:100,200,300,400")
    
  body(ng-controller="appCtrl")
    div(layout="column")
      md-toolbar.md-whiteframe-z2
        div.md-toolbar-tools
          div.title
            span Reddit Steam Tools (PoC)
    
    div(role="main", layout="row")
      md-content.container(layout="row" layout-align="center start", layout-padding)
        div(flex="80")
          form(ng-submit="onSearchApp()")
            md-input-container
              label Search
              input(ng-model="searchString")
            md-button.md-raised.md-warn(flex, ng-click="clearResults()", style="width: 100%") Clear


          div(ng-if="isLoading")
            p.md-display-1(style="text-align: center;") Loading. Wait for it...

          div(layout="row")
            div(flex="50")
              md-list
                md-subheader Results
                md-list-item(ng-repeat="app in apps track by $index", ng-click="addApp($index)")
                  p {{app.name}}
                  md-button.md-fab.md-mini +

            div(flex="50")
              md-list
                md-subheader Choosen
                md-list-item(ng-repeat="app in choosenApps track by $index", ng-click="removeApp($index)")
                  p {{app.name}}
                  md-button.md-fab.md-mini -

          div
            md-button.md-raised.md-primary(flex, ng-click="generateText()", style="width: 100%") Generate
          div
            md-input-container(flex)
              textarea(ng-model="redditTable", aria-label="reddit table")
            
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js')
    script(src='scripts/app.js')
      